<div class="container-fluid">
  <p class="h3 p-3">{{ bookDetail.name }}</p>
  <div class="row">
    <div class="col-2">
      <div class="thumb">
        <img
          class="img-fluid"
          src="{{ bookDetail.image }}"
          alt="{{ bookDetail.name }}"
        />
      </div>
    </div>
    <div class="col">
      <dl>
        <dt>Authors</dt>
        <dd class="caption" *ngFor="let author of bookDetail.authors">
          <a routerLink="/authors/{{ author.id }}">{{ author.name }}</a>
        </dd>

        <dt>ISBN</dt>
        <dd>{{ bookDetail.isbn }}</dd>
        <hr />
        <dt>Publishing Date</dt>
        <dd>{{ bookDetail.publishingDate }}</dd>
        <hr />
        <dt class="bold">Editorial</dt>
        <dd class="caption">{{ bookDetail.editorial.name }}</dd>
        <hr />
        <dt class="bold">Description</dt>
        <dd>{{ bookDetail.description }}</dd>
      </dl>
    </div>
  </div>
</div>
