<div *ngIf="selected">
  <app-book-detail [bookDetail]="selectedBook"></app-book-detail>
</div>

<hr />

<div class="container-fluid">
  <div class="row">
    <div *ngFor="let book of books" class="col mb-2">
      <div class="card p-2" style="width: 15rem; height: 33rem">
        <img
          class="card-img-top"
          src="{{ book.image }}"
          alt="{{ book.name }}"
          (click)="onSelected(book)"
        />
        <div class="card-body">
          <h5 class="card-title">{{ book.name }}</h5>
          <p class="card-text">[{{ book.editorial.name }}]</p>
        </div>
      </div>
    </div>
  </div>
</div>
