<div class="container-fluid mt-2">
  <h2 class="text-center">Authors</h2>

  <div class="row">
    <div class="col-3">
      <div *ngFor="let author of authors" class="book-card">
        <div class="card p-2 mb-2" style="width: 12rem; height: 23rem">
          <a
            class="card-block text-decoration-none"
            (click)="selectAuthor(author)"
          >
            <img
              class="card-img-top"
              src="{{ author.image }}"
              alt="{{ author.name }}"
            />
            <div class="card-body black-text">
              <h5 class="card-title">{{ author.name }}</h5>
              <p class="card-text">
                {{ author.birthDate }}
              </p>
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="col-9" *ngIf="selected">
      <app-author-detail [authorDetail]="selectedAuthor"></app-author-detail>
    </div>
  </div>
</div>
